{
  "irc": {
    "host":"irc.freenode.net",
    "nick":"myaerobot",
    "nickserv":{
      "password":"sekret",
      "email":"i@myself.land"
    },
    "channels":["#aerobot-playground"]
  },
  "urbandictionary" : {
     "API_KEY" : "KEY_FROM_https://www.mashape.com/community/urban-dictionary"
   }
}